<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="sortList" value="1003,92900a,1008,approval,aus,credit,cbr,vor,vom,asset,hud,voe,vvoe,paystub,w2,return,cpa,biz,lease,income,purchase,appraisal,recert,216,1007,442,avm,condo,note,dot,hoi,flood,title,auth,le,cd,disclosure,mi,fha,va,other"/>
  </appSettings>
</configuration>
